@import 'assets/styles/mixins.scss';

.modal {
  position: fixed;
  z-index: $modal-index;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &--visible {
    animation: fadeIn none 0.2s;
  }

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }

  &--fullscreen {
    width: 100%;
    height: 100%;
    background-color: $black;

    .modal__dialog__close {
      position: absolute;
      right: 12px;
      top: 12px;
      padding: 4px;
      cursor: pointer;

      img {
        width: 32px;
      }
    }
  }

  &--small {
    width:  400px;
    box-shadow: 2px 2px 4px 2px $box-shadow-1;

    .modal__dialog__close {
      position: absolute;
      right: 10px;
      top: 10px;
      padding: 4px;
      cursor: pointer;

      img {
        width: 24px;
      }
    }
  }

  &__backdrop {
    position: absolute;
    z-index: $backdrop-index;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__dialog {
    position: absolute;
    z-index: $dialog-index;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0.5;
  }

  100% {
      opacity: 1;
  }
}

@include mobile {
  .modal--small {
    width: 80%;

    .modal__dialog__close {
      padding: 4px;
      right: 6px;
      top: 6px;
      cursor: pointer;

      img {
        width: 16px;
      }
    }
  }
}
