// Screen
$mobile                  : 480px;
$tablet-min              : 481px;
$tablet-max              : 768px;

// Z-index
$modal-index             : 100;
$backdrop-index          : 101;
$dialog-index            : 102;
$loading-index           : 200;

// Colors
$white                   : #FFFFFF;
$grey                    : #F4F4F4;
$grey-1                  : #F1F1F1;
$grey-2                  : #BBBBBB;
$black                   : #000000;
$red                     : #d9534f;

$box-shadow-1            : #00000033;